<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles.css">
    <title>Cat Blog</title>
</head>

<body>
    <div class="container">
        <h1>Edit Post</h1>
        <form class="comment" action="<% '/edit/' + post.id%>" method="POST">
            <div>
                <input type="hidden" name="id" value="<%= post.id %>">
                <input type="text" name="name" placeholder="<%= post.name %>">
                <textarea type="text" name="body" placeholder="<%= post.body %>"></textarea>
            </div>
            <div class="buttons">
                <input type="submit" value="OK">
            </div>
        </form>
    </div>
</body>

</html>